<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmpy.demo.mapper.ProductMapper">

    <resultMap id="productSubMenuResultMap" type="com.xmpy.demo.view.ProductSubMenu">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="best" column="is_best"/>
        <result property="categoryDetailId" column="category_detail_id"/>
        <result property="categoryDetailName" column="category_detail_name"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="soldOut" column="is_sold_out"/>
    </resultMap>

    <resultMap id="ProductWithThumbnails" type="com.xmpy.demo.entity.Product">
        <id property="productId" column="product_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryDetailId" column="category_detail_id"/>
        <result property="productName" column="product_name"/>
        <result property="description" column="description"/>
        <result property="best" column="best"/>
        <result property="price" column="price"/>
        <result property="quickRundown" column="quick_rundown"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>

        <collection property="productThumbnails" ofType="com.xmpy.demo.entity.ProductThumbnail">
            <id property="productThumbnailId" column="product_thumnail_id"/>
            <result property="productId" column="product_id"/>
            <result property="productUrl" column="product_url"/>
        </collection>
    </resultMap>

    <resultMap id="ProductMap" type="com.xmpy.demo.entity.Product">
        <id     property="productId"        column="product_id"/>
        <result property="productName"      column="product_name"/>
        <result property="description"      column="description"/>
        <result property="best"             column="is_best"/>
        <result property="imgUrl"           column="img_url"/>
        <result property="price"            column="price"/>
        <result property="quickRundown"     column="quick_rundown"/>
        <result property="categoryId"       column="category_id"/>
        <result property="createdAt"        column="created_at"/>
        <result property="updatedAt"        column="updated_at"/>
        <result property="categoryDetailId" column="category_detail_id"/>
    </resultMap>

    <!-- 상품 전체 조회 -->
    <select id="findAll" resultMap="ProductMap">
        SELECT
        product_id, product_name, description, is_best, img_url,
        price, quick_rundown, category_id, created_at, updated_at, category_detail_id
        FROM product_tb
        ORDER BY created_at DESC
    </select>

    <!-- 상품 단건 조회 -->
    <select id="findById" parameterType="long" resultMap="ProductMap">
        SELECT
        product_id, product_name, description, is_best, img_url,
        price, quick_rundown, category_id, created_at, updated_at, category_detail_id
        FROM product_tb
        WHERE product_id = #{productId}
    </select>

    <!-- 대분류(category_id) 상품 조회 -->
    <select id="findByCategoryId" parameterType="long" resultMap="ProductMap">
        SELECT
        product_id, product_name, description, is_best, img_url,
        price, quick_rundown, category_id, created_at, updated_at, category_detail_id
        FROM product_tb
        WHERE category_id = #{categoryId}
        ORDER BY created_at DESC
    </select>

    <!-- 소분류(category_detail_id) 상품 조회 - 페이징 없이 -->
    <select id="findByDetailId" parameterType="long" resultMap="ProductMap">
        SELECT
        product_id, product_name, description, is_best, img_url,
        price, quick_rundown, category_id, created_at, updated_at, category_detail_id
        FROM product_tb
        WHERE category_detail_id = #{categoryDetailId}
        ORDER BY created_at DESC
    </select>

    <!-- 소분류(category_detail_id) 상품 조회 - View + 페이징 -->
    <select id="findByCategoryDetailId" resultMap="productSubMenuResultMap">
        SELECT *
        FROM product_sub_menu_view
        WHERE category_detail_id = #{categoryDetailId}
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 총 개수 -->
    <select id="countByCategoryDetailId" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM product_tb
        WHERE category_detail_id = #{categoryDetailId}
    </select>

    <!-- 리뷰 카운트 -->
    <select id="findReviewCountByProductIds" resultType="map">
        SELECT product_id, COUNT(*) AS review_count
        FROM review_tb
        WHERE product_id IN
        <foreach collection="productIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY product_id
    </select>

    <!-- 상품 등록 -->
    <insert id="insertProduct" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO product_tb (product_name, description, is_best, price, category_id, category_detail_id, created_at, updated_at)
        VALUES (#{productName}, #{description}, 0, #{price}, #{categoryId}, #{categoryDetailId}, NOW(), NOW())
    </insert>

    <!-- 썸네일 등록 -->
    <insert id="insertThumbnails">
        INSERT INTO product_thumbnail_tb (product_id, product_url)
        VALUES
        <foreach collection="urls" item="url" separator=",">
            (#{productId}, #{url})
        </foreach>
    </insert>

    <!-- 상품 수정 -->
    <update id="update" parameterType="com.xmpy.demo.entity.Product">
        UPDATE product_tb
        SET
        product_name = #{productName},
        description = #{description},
        is_best = #{best},
        img_url = #{imgUrl},
        price = #{price},
        quick_rundown = #{quickRundown},
        category_id = #{categoryId},
        updated_at = #{updatedAt},
        category_detail_id = #{categoryDetailId}
        WHERE product_id = #{productId}
    </update>

    <!-- 상품 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM product_tb
        WHERE product_id = #{productId}
    </delete>


    <!-- 상품 검색/필터/정렬 -->
    <select id="search" resultType="com.xmpy.demo.dto.res.product.ProductListRowRes">
        SELECT
        p.product_id AS productId,
        p.product_name AS productName,
        p.price AS price,
        p.img_url AS imgUrl,
        p.is_best AS best,
        p.category_id AS categoryId,
        p.category_detail_id AS categoryDetailId,
        p.quick_rundown AS quickRundown
        FROM product_tb p
        <where>
            <if test="req.keyword != null and req.keyword != ''">
                p.product_name LIKE CONCAT('%', #{req.keyword}, '%')
            </if>

            <if test="req.categoryId != null">
                AND p.category_id = #{req.categoryId}
            </if>

            <if test="req.categoryDetailId != null">
                AND p.category_detail_id = #{req.categoryDetailId}
            </if>

            <if test="req.best != null">
                AND p.is_best = #{req.best}
            </if>
        </where>

        <choose>
            <when test="req.sort == 'priceAsc'">
                ORDER BY p.price ASC
            </when>
            <when test="req.sort == 'priceDesc'">
                ORDER BY p.price DESC
            </when>
            <when test="req.sort == 'oldest'">
                ORDER BY p.created_at ASC
            </when>
            <otherwise>
                ORDER BY p.created_at DESC
            </otherwise>
        </choose>
    </select>

    <!--베스트 여부만 변경 -->
    <update id="updateBest">
        UPDATE product_tb
        SET is_best = #{best}
        WHERE product_id = #{productId}
    </update>

    <!-- 베스트 상품만 조회 -->
    <select id="bestList" resultMap="ProductWithThumbnails">
        SELECT
        p.product_id,
        p.category_id,
        p.category_detail_id,
        p.product_name,
        p.description,
        p.is_best AS best,
        p.price,
        p.quick_rundown,
        p.created_at,
        p.updated_at,
        t.product_thumnail_id,
        t.product_url
        FROM product_tb p
        LEFT JOIN product_thumbnail_tb t ON p.product_id = t.product_id
        WHERE p.is_best = 1
        ORDER BY p.created_at DESC
    </select>


    <select id="findViewById" resultMap="ProductWithThumbnails">
        SELECT
        p.product_id,
        p.category_id,
        p.category_detail_id,
        p.product_name,
        p.description,
        p.best,
        p.price,
        p.quick_rundown,
        p.created_at,
        p.updated_at,
        t.product_thumnail_id,
        t.product_url
        FROM product_tb p
        LEFT JOIN product_thumbnail_tb t ON p.product_id = t.product_id
        WHERE p.product_id = #{productId}
    </select>


</mapper>