<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 참조 복사로 넣기 -->
<mapper namespace="com.xmpy.demo.mapper.UserMapper">
    <!-- roleResultMap - 롤먼저 만들기 /-->
    <resultMap id="roleResultMap" type="com.xmpy.demo.entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>

    <!-- 그 다음에, user 만들기   -->
    <resultMap id="userResultMap" type="com.xmpy.demo.entity.User">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="userPassword" column="user_password"/>  <!-- 추가! -->
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="address" column="address"/>
        <result property="createAt" column="created_at"/>
        <result property="roleId" column="role_id"/>  <!-- association 제거하고 이걸로 -->
    </resultMap>

    <insert id="addUser">
        insert into
            user_tb (email,user_password, user_name, user_phone, address, created_at, role_id)
        values
            (#{email}, #{userPassword} , #{userName}, #{userPhone}, #{address}, now(), 1)
    </insert>
    <!-- userId는 1이라고 가정 db에 roleid=1 -> user  이런식으로 db에 채워넣어야 한다-->
    <!-- 위에 줄이 칼럼이름 이고, 아래줄이 property에 해당하는 것들   -->


    <!--
    지금부터 아래에 있는 코드들은
    그 비밀번호, 이메일, 주소, 전화번호 바꾸는 코드 작성하기
    -->
    <!-- 1. userName    -->
    <select id="getUserByUsername" resultMap="userResultMap">
        select
            u.user_id,
            u.email,
            u.user_name,
            u.user_phone,
            u.address,
            u.created_at,
            u.user_password,
            u.role_id
        from
            user_tb u
                inner join role_tb r on u.role_id = r.role_id
        where
            u.user_name = #{userName}
    </select>

    <!-- 1. userName    -->
    <select id="getUserByEmail" resultMap="userResultMap">
        select
            u.user_id,
            u.email,
            u.user_name,
            u.user_phone,
            u.address,
            u.created_at,
            u.user_password,
            u.role_id
        from
            user_tb u
                inner join role_tb r on u.role_id = r.role_id
        where
            u.email = #{email}
    </select>

    <select id="getUserById" resultMap="userResultMap">
        select
            u.user_id,
            u.email,
            u.user_name,
            u.user_phone,
            u.address,
            u.created_at,
            u.user_password,
            u.role_id
        from
            user_tb u
                inner join role_tb r on u.role_id = r.role_id
        where
            u.user_id = #{userId}
    </select>

    <update id="updateUserInfo">
        update user_tb
        set
            user_password = #{password},
            address = #{address},
            user_phone = #{userPhone}
        where email = #{email}
    </update>
</mapper>